language: cpp

sudo: required

compiler:
 - clang

before_install:
 - chmod u=rx ./scripts/linux/*.sh ./scripts/common/*.sh

install:
 - sudo ./scripts/linux/install_dependencies.sh
 - sudo ./scripts/linux/install_cppchecker.sh
 - sudo ./scripts/commons/install_sfml.sh

script:
 - ./scripts/linux/run_static_analysis.sh
 - make complete

branches:
  only:
      - dev
      - master
      - travis_experiments

notifications:
  email:
    recipients:
      -iohannrabeson@gmail.com
    on_success: always
    on_failure: always
    on_start: always
